.dw-hero-banner {
  background: @blue;
  min-height: 490px;
  height: 30vw;
  display: flex;
  justify-content: space-between;

  @media @palm {
    flex-direction: column;
  }

  .dw-events {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: @white;
    flex: 1 300px;
    border-right: 1px solid @border-color;
    border-bottom: 1px solid @border-color;

    .dw-event-card {
      padding: 20px 20px 20px 20px;
      border: 1px solid @border-color;
      margin-bottom: 20px;
      border-radius: 3px;
    }

    .dw-event-title {
      // &:before {
      //   content: "";
      //   width: 65px;
      //   margin-bottom: 5px;
      //   margin-right: 5px;
      //   height: 1px;
      //   background: @primary-font-color-hover;
      //   display: inline-block;
      //   position: absolute;
      //   // left: 101px;
      //   top: 148px;
      // }

      // &:after {
      //   content: "";
      //   width: 65px;
      //   margin-bottom: 5px;
      //   margin-left: 5px;
      //   height: 1px;
      //   background: @primary-font-color-hover;
      //   display: inline-block;
      //   position: absolute;
      //   // left: 253px;
      //   top: 148px;
      // }
    }

    @media @palm {
      order: 2;
      flex-grow: 1;
    }

    // @media @palm {
    //   visibility: hidden;
    //   opacity: 0;
    //   display: none;
    // }
  }

  .dw-video-slider {
    flex: 5;
    display: flex;
    justify-content: flex-start;
    margin-left: 7vw;
    padding-right: 7vw;
    align-items: center;
    background: url(https://s29.postimg.org/5qhwj8hx3/dw_hero_bg_2x.jpg) no-repeat;
    background-size: cover;

    @media @desktop {
      backgound-size: cover;
      background-position: top right;
    }

    @media @tablet {
      background-position: right;
      background-size: cover;
      margin-left: 0;
    }
    @media @palm {
      background-position: right;
      background-size: cover;
      flex-grow: 1;
      margin-left: 0;
    }

    .dw-content {
      display: flex;
      flex-direction: column;
      max-width: 650px;

      @media @tablet {
        margin-left: 7vw;
      }

      @media @palm {
        margin-left: 7vw;
      }

      p {
        color: @white;
        font-family: @secondary-font;
        letter-spacing: .02em;
        font-weight: 400;
        text-rendering: geometricPrecision;
      }

      .dw-video-cta {
        display: flex;
        margin-top: 30px;

        @media @palm {
          flex-direction: column;
        }

        .dw-video-play {
          padding-right: 2rem;
          display: flex;
          flex-direction: column;
          align-items: center;

          i {
            color: @white;
          }
        }

        .dw-video-content {
          border-left: 1px solid rgba(255,255,255,.2);
          padding-left: 2rem;
          display: flex;
          align-items: center;
          justify-content: center;

          @media @palm {
            border-left: none;
            text-align: center;
          }
        }
      }
    }
  }
}
