.dw-hero-banner {
  background: @blue;
  display: flex;
  justify-content: space-between;

  @media @palm {
    flex-direction: column;
  }

  .dw-events {
    flex: 2 120px;
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: @white;
    border-right: 1px solid @border-color;
    border-bottom: 1px solid @border-color;

    .event-cta {
      font-size: 11px;
      color: @primary-action;
      margin-top: auto;

      @hover {
        transform: scale(2);
      }
    }

    .dw-event-card {
      padding: 20px 20px 20px 20px;
      border: 1px solid @border-color;
      margin-bottom: 20px;
      border-radius: 3px;
    }

    .dw-event-title {
      padding-bottom: 20px;
      align-self: center;

      // &:before {
      //   content: "";
      //   width: 65px;
      //   margin-bottom: 5px;
      //   margin-right: 5px;
      //   height: 1px;
      //   background: @primary-font-color-hover;
      //   display: inline-block;
      //   position: absolute;
      //   // left: 101px;
      //   top: 148px;
      // }

      // &:after {
      //   content: "";
      //   width: 65px;
      //   margin-bottom: 5px;
      //   margin-left: 5px;
      //   height: 1px;
      //   background: @primary-font-color-hover;
      //   display: inline-block;
      //   position: absolute;
      //   // left: 253px;
      //   top: 148px;
      // }
      .dw-event-card {
        flex-grow: 1;

        @hover {
          transform: scale(2);
        }
      }
    }

    @media @palm {
      order: 2;
      flex: .4;
      flex-direction: row;
      justify-content: space-around;
    }

    // @media @palm {
    //   visibility: hidden;
    //   opacity: 0;
    //   display: none;
    // }
  }

  .dw-video-slider {
    flex: 5;
    display: flex;
    flex-direction: column;
    background: #008dce;
    background: -moz-linear-gradient(top,  #008dce 20%, #0056b8 100%);
    background: -webkit-linear-gradient(top,  #008dce 20%,#0056b8 100%);
    background: linear-gradient(to bottom,  #008dce 20%,#0056b8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008dce', endColorstr='#0056b8',GradientType=0 );
    justify-content: flex-start;
    padding-right: 7vw;
    align-items: center;
    // background: url(https://s29.postimg.org/5qhwj8hx3/dw_hero_bg_2x.jpg) no-repeat;
    background-size: cover;

    @media @tablet {
      margin-left: 0;
    }
    @media @palm {
      flex-grow: 1;
      margin-left: 0;
    }

    .dw-event-alert {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      flex: 1;
      margin-bottom: auto;
      background: rgba(255,255,255,.6);

      .dw-event-post-info {
        display: flex;
        flex-direction: column;
      }

      .dw-event-alert-button {
        margin-left: auto;
      }

    }

    .dw-content {
      display: flex;
      flex-direction: column;
      max-width: 650px;
      padding-top: 10rem;
      padding-bottom: 10rem;

      @media @desktop {
        padding-top: 8rem;
        padding-bottom: 8rem;
      }

      @media @tablet {
        margin-left: 7vw;
        padding-top: 10rem;
        padding-bottom: 10rem;
      }

      @media @palm {
        margin-left: 7vw;
        text-align: center;
        margin-bottom: auto;
        padding-top: 4rem;
        padding-bottom: 4rem;
      }

      p {
        color: @white;
        font-family: @secondary-font;
        letter-spacing: .02em;
        font-weight: 400;
        text-rendering: geometricPrecision;
      }

      .dw-video-cta {
        display: flex;
        margin-top: 30px;

        @media @palm {
          flex-direction: column;
        }

        .dw-video-play {
          padding-right: 2rem;
          display: flex;
          flex-direction: column;
          align-items: center;

          i {
            color: @white;
          }
        }

        .dw-video-content {
          border-left: 1px solid rgba(255,255,255,.2);
          padding-left: 2rem;
          display: flex;
          align-items: center;
          justify-content: center;

          @media @palm {
            border-left: none;
            text-align: center;
          }
        }
      }
    }
  }
}
