@import (inline) "css/google-fonts.css";
@import "color";

@primary-font: 'Lato', sans-serif;
@secondary-font: 'Crimson Text', serif;

// MIXINS
.primary-font-color {
  color: @primary-font-color;
}
.primary-font {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  letter-spacing: .06em;
  color: @primary-font-color;
}

body {
  font-family: @primary-font;
  color: @primary-font-color;
  font-size: 16px;
}

h1 {
  font-family: @secondary-font !important;
  font-weight: 400;
  letter-spacing: .02em;
  // red is #000000 right now
  color: @white;
  font-size: 56px;
  font-family: sans-serif;
  text-rendering: geometricPrecision;
  line-height: 3.6rem;
}

h3 {
  font-family: @secondary-font !important;
  font-weight: 400;
  letter-spacing: .02em;
  color: @primary-action;
  font-size: 24px;
  font-style: italic;
  text-rendering: geometricPrecision;
}
